.singleTodo {
  
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 13px;
    border-radius: 8px;
    margin-bottom: 15px;
    &.edit {
      background-color: #799bab;
    }
  }
  &__label {
    color:#273e4b;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
  }
  &__checkbox {
    display: none;
    &:checked ~ .singleTodo__box > img {
      display: block;
    }
    &:disabled ~ span{
      cursor: not-allowed;
    }
  }
  &__box {
    height: 18px;
    width: 18px;
    border: 2px solid #283e49;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    &.edit {
      border-color: #ffffff;
      background-color: #ffffff;
    }
  }
  &__chech-icon {
    width: 18px;
    height: 18px;
    display: none;
  }
  &__input-text {
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color: transparent;
    padding: 8px;
    color: #ffffff;
    width: 400px;
    &:focus {
      outline: none;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 10px
  }
  &__btn {
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    background-color: #311b92;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &--delete {
      background-color: #F44336;
    }
    &--update {
      background-color: #ffc107;
      background-color: #fb8c00 ;
      //color: #000000;
    }
  }
}