.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  @media (max-width: 400px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  &__close-btn {
    font-weight: 600;
    font-size: 28px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
  }
  &__inner {
    width: 700px;
    background-color: #f4eded;
    margin-top: 100px;
    margin-bottom: 70px;
    border-radius: 16px;
    padding: 30px;
    @media (max-width: 600px) {
      padding: 15px;
    }
  }
  &__result {
    text-align: center;
    color: #37474f; 
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;
    @media (max-width: 600px) {
      font-size: 16px;
      margin-bottom: 30px;
    }
    span {
      color:#638a9d;
      font-weight: 500;
    }
  }
  &__list {
    overflow-y: auto;
    max-height: 60vh;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #6a5b5b;
      border: 2px solid #555555;
    }
  }
}