
.form-input {
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: 400px) {
      gap: 10px;
    }
  &__text {
    flex: 1;
    background-color: #f4eded;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #3a3838;
    font-size: 18px;
    @media (max-width: 600px) {
      font-size: 16px;
      padding-bottom: 5px;
    }
    &:focus {
      outline: none;
    }
  }
  &__btn {
    flex: 0 0 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    color: #ffffff;
    background-color: #150ee0; //#1976d2;
    border-radius: 4px;
    cursor: pointer;
    @media (max-width: 600px) {
      flex-basis: 60px;
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: -7px;
    }
    @media (max-width: 400px) {
      flex-basis: 40px;
    }
    transition: all .5 ease-in-out ;
    &:hover {
      background-color: #5853f0;
    }
  }
}